@font-face {
  font-family: "ultra-chat-iconfont"; /* Project id 4776182 */
  src: url('iconfont.woff2?t=1751358772106') format('woff2'),
       url('iconfont.woff?t=1751358772106') format('woff'),
       url('iconfont.ttf?t=1751358772106') format('truetype');
}

.ultra-chat-iconfont {
  font-family: "ultra-chat-iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ultra-chat-icon-document-generate:before {
  content: "\e705";
}

.ultra-chat-icon-document-download:before {
  content: "\e62e";
}

.ultra-chat-icon-document-export:before {
  content: "\e638";
}

.ultra-chat-icon-play-audio:before {
  content: "\e67a";
}

.ultra-chat-icon-theme:before {
  content: "\e601";
}

.ultra-chat-icon-speech-to-text:before {
  content: "\e7a9";
}

.ultra-chat-icon-secrecy-knowledge-enhancement:before {
  content: "\e613";
}

.ultra-chat-icon-secrecy-chat-assistant:before {
  content: "\e62b";
}

.ultra-chat-icon-command-assistant:before {
  content: "\e600";
}

.ultra-chat-icon-doc-checker:before {
  content: "\e60a";
}

.ultra-chat-icon-summary-generator:before {
  content: "\e964";
}

.ultra-chat-icon-meeting-minutes:before {
  content: "\e661";
}

.ultra-chat-icon-delete:before {
  content: "\e642";
}

.ultra-chat-icon-setting:before {
  content: "\e851";
}

.ultra-chat-icon-new-chat:before {
  content: "\e6af";
}

.ultra-chat-icon-chat-history:before {
  content: "\ee78";
}

.ultra-chat-icon-back:before {
  content: "\e6f4";
}

.ultra-chat-icon-menu:before {
  content: "\e6ec";
}

.ultra-chat-icon-collapse:before {
  content: "\e6b8";
}

.ultra-chat-icon-expand:before {
  content: "\e62d";
}

.ultra-chat-icon-close:before {
  content: "\e605";
}

.ultra-chat-icon-pin:before {
  content: "\ec98";
}

.ultra-chat-icon-unpin:before {
  content: "\ec99";
}

.ultra-chat-icon-edit:before {
  content: "\e6ba";
}

.ultra-chat-icon-copy:before {
  content: "\e6f5";
}

.ultra-chat-icon-clear:before {
  content: "\e603";
}

.ultra-chat-icon-user:before {
  content: "\e682";
}

.ultra-chat-icon-voice:before {
  content: "\e8f7";
}

.ultra-chat-icon-send:before {
  content: "\e60d";
}

.ultra-chat-icon-ai-assistant:before {
  content: "\e651";
}

